.mainPage_entire{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainPage_entire img{
    position: fixed;
    right: 0px;
    top: 0px;
    width: auto;
    height: 100vh;
}
.mainPage_entire_data{
    position: fixed;
    top: 50%;
    left: 10vw;
    display: flex;
    flex-direction: column;
}
.mainPage_entire_data h1{
    color: rgb(95, 95, 95);
}
.enterBigUrl{
    display: flex;
}
.enterBigUrl input[type="text"]{
    font-size: 14px;
    padding: 15px 20px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(212, 212, 212, 0.685);
    width: 32vw;
    border-radius: 5px 0px 0px 5px;
}
.enterBigUrl button{
    font-size: 15px;
    background-color: rgb(221, 130, 11);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 20px;

}
.message{
    margin:10px 0px;
}
.success_url{
    display: flex;
    align-items: center;
}
.success_url p{
    margin: 0px;
    font-size: 14px;
}
.success_url button{
    font-size: 16px;
    padding:0px 10px;
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}
.error_div{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error_div img{
    width: 500px ;
    height: auto;
}
.qr_min{
    width: 30px;
    height: auto;
    cursor: pointer;
    position: relative;
}
.qr_max{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    width: 300px;
    z-index: 1;
    cursor: pointer;
}
.entire_blur{
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(65, 65, 65, 0.185);
    cursor: pointer;
}
@media screen and (max-width:1100px){
    .mainPage_entire img{
        position: fixed;
        right: -30%;
        top: 0px;
        width: auto;
        height: 100vh;
    }
}
@media screen and (max-height:500px){
    .mainPage_entire img{
        position: fixed;
        right: 0%;
        top: 0px;
        width: auto;
        height: 100vh;
    }
    .mainPage_entire_data{
        top: 40%;
    }
    .mainPage_entire_data h1{
        color: rgb(95, 95, 95);
        font-size: 18px;
        padding-bottom: 10px;
    }
    .enterBigUrl{
        display: flex;
    }
    .enterBigUrl input[type="text"]{
        font-size: 12px;
        padding: 15px 20px;
        outline: none;
        border: none;
        box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.404);
        width: 40vw;
        border-radius: 5px 0px 0px 5px;
    }
    .enterBigUrl button{
        font-size: 12px;
        background-color: rgb(221, 130, 11);
        color: white;
        border: none;
        cursor: pointer;
        padding: 0px 20px;
    
    }
    .message{
        margin:10px 0px;
    }
    .message p{
        font-size: 12px;
        margin: 0px;
    }
    .success_url{
        display: flex;
    }
    .success_url p{
        margin: 0px;
        font-size: 12px;
    }
    .success_url button{
        font-size: 12px;
        padding: 0px 10px;
        background: none;
        border: none;
        color: green;
        cursor: pointer;
    }
    .error_div img{
        width: 300px;
    }
    .qr_max{
        width: 200px;
    }
    .entire_blur{
        background-color: rgba(65, 65, 65, 0.397);
    }
}
@media screen and (max-width:550px){
    .mainPage_entire{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .mainPage_entire img{
        position: fixed;
        width: 300vw;
        left: -150%;
        top: -10%;
        height: auto;
    }
    .mainPage_entire_data{
        position: fixed;
        top: 60%;
        left: 5%;
        display: flex;
        flex-direction: column;
    }
    .mainPage_entire_data h1{
        color: rgb(95, 95, 95);
        font-size: 18px;
        padding-bottom: 10px;
    }
    .enterBigUrl{
        display: flex;
    }
    .enterBigUrl input[type="text"]{
        font-size: 12px;
        padding: 15px 20px;
        outline: none;
        border: none;
        box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.404);
        width: 55vw;
        border-radius: 5px 0px 0px 5px;
    }
    .enterBigUrl button{
        font-size: 12px;
        background-color: rgb(221, 130, 11);
        color: white;
        border: none;
        cursor: pointer;
        padding: 0px 20px;
    
    }
    .message{
        margin:10px 0px;
    }
    .message p{
        font-size: 12px;
        margin: 0px;
    }
    .success_url{
        width:100vw;
        justify-content: space-between;
        display: flex;
    }
    .success_url p{
        margin: 0px;
        font-size: 12px;
    }
    .success_url button{
        font-size: 12px;
        padding: 0px 10px;
        background: none;
        border: none;
        color: green;
        cursor: pointer;
    }
    .error_div img{
        width: 300px;
    }
    .qr_min{
        width: 30px;
        height: auto;
        cursor: pointer;
    }
    .qr_max{
        width: 200px;
    }
    .entire_blur{
        background-color: rgba(65, 65, 65, 0.397);
    }
}
